* {
    margin: 0rem;
    padding: 0;
    box-sizing: border-box; }
body{
    font-family:open-sans, sans-serif ;
}
footer{
    background-color: #bccfa3;
    padding: 3rem;

  }
  footer p{
    text-align: center;
    color: #F8F7F6;
    margin: 1rem;
  }
  .h-footer{
    color:#E4E1AA;
    font-size: 4rem;
    font-family: aileron, sans-serif;
  }
  .contacto{
    font-size: 2.5rem;
     color: #F8F7F6;
  }
/* estilo index*/


.header-index{
  
    background-image: url(../fotos/back.png) ;
    background-size: 100%;
   height: 14rem;
   
    display: flex;
    
}
    
        
  
    .header-index .h1-index{
        color: #8DC6D1;
        font-family: aileron, sans-serif;
        font-size: 3rem;
        margin-left: 1rem;
        text-align: right;
    
      
    }
     .header-index .nav-index{
       
      color: #8DC6D1;
      text-decoration: none;
      display: flex;
      gap: 1rem;
    
      list-style: none;
      margin-right:2rem;
     
    
      
     
      }
      .header-index nav ul{
        list-style: none;
        text-align: right;
      }

   
      .header-index nav li{
        text-align: right;
        margin-top: 1.2rem;
      
      }

      body .header-index nav a{
        text-decoration: none;
        color:#F8F7F6;
        font-family:arsenica-variable, sans-serif;
        text-decoration: bold;
        text-align: right;
        margin-top: 2rem;
        font-size: 1.2rem;

         }
        
      .main-index .caja-descuento{
        background-color: #8DC6D1;
        text-align: center;
        margin-bottom: 3rem;
        color:#F8F7F6;
        }

       .main-index .cajas-secciones{
        align-items: center;
    text-align: center;
        justify-content: center;
        justify-items: center;
        display: block;
        margin-top: 3rem;
        margin-bottom: 3rem;
          }

          .cajas-secciones :hover{
            transform: scale(1.02);
            opacity: ;
          }

          .info-index .img-surf{
            width: 100%;
          }

      .info-index .img-lauti{
        display: none;
      }    
      .info-index {
        text-align: center;
        
      }
      .info-index .p-1{
        margin: 2rem;
      }
      .p-2{
        margin-top: 2rem;
        margin-bottom: 9rem;
        margin-left: 2rem;
        margin-right: 2rem;
      }
      .div-button{
        display: flex;
        text-align: center;
        justify-content: center;
      }
       .button-index{
        background-color: #8DC6D1;
        border: none;
        padding: 0.5rem;
        margin: 1rem;
        margin-bottom: 3rem;
        font-size: 1.5rem;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        text-align: center;

      }
       .button-index a{
        text-decoration: none;
        color: #E4E1AA;

      }

      .img-contacto{
        height: 3.2rem;
       margin: 0.7rem;

      }
      .rollover :hover{
        transform: scale(1.05);
      }

      @media screen and (min-width: 1200px) {
        .header-index{
  
        
           height: 38rem;
           
            
        }

        section .secciones-index{
            display: grid;
        }
       .main-index .cajas-secciones{
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
         }
      
        
        .info-index{
            display: flex;
            align-items: center;
        }
        .info-index .img-surf{
            height: 70vh;
            width: 95vh;  
            margin: 2rem;
            justify-content: flex-start;
            
            
            
        }
        .info-index .p-1{
            text-align: center;
            margin: 6rem;
            align-items: center;
            font-size: 1.3rem;
        }
        .info-index .p-2{
            text-align: center;
            margin: 6rem;
            align-items: center;
            font-size: 1.3rem;
        }
       

        .info-index .img-lauti{
            display: flex;
            height: 50vh;
            width: 90vh;
            margin: 2rem;
          } 
        }
  
/* estilo shop*/

.header-pages{
    background-color: #8DC6D1;
    color: #F8F7F6;

}
.header-pages h1{
    color: #E4E1AA; 
        font-family: aileron, sans-serif;
        font-size: 3rem;
        margin-left: 1rem;
        text-align: right;
}
.header-pages nav {
    color: #F8F7F6;
      text-decoration: none;
      display: flex;
      gap: 2.5rem;
      align-items: center;
      text-align: end;
      display: inline-flex;
      list-style: none;
      justify-content: space-around;

      
}


.header-pages ul{
    list-style: none;
    justify-content: end;
    display: flex;
    
}
.header-pages nav a {
    text-decoration: none;
    color: #F8F7F6;
    font-family: arsenica-variable, sans-serif;
    text-decoration: bold;
    display: flex;
    justify-content: right;
     }

h2{
font-family:arsenica-variable, sans-serif ;
font-size: 2rem;
text-align: center;
margin: 2rem;
color: #8DC6D1;
}

.img-shop{
    height: 60vh;
    
 
}

.div-img-shop{
    align-items: center;
    text-align: center;
        justify-content: center;
        justify-items: center;
        display: block;
        margin-top: 3rem;
        margin-bottom: 3rem;
   
}
.div-img-shop p{
    text-align: center;
    text-decoration: underline;
}

form{
    text-align: center;
    font-size: larger;
    background-color: #8DC6D1;
    padding: 2rem;
    margin-bottom: 2rem;
}

form h3{
  color: #F8F7F6;
  font-family: arsenica-variable, sans-serif ;
  font-size: 2rem;

}

form div label{
  color: #F8F7F6;
  font-size: 1.2rem;
  font-family: arsenica-variable, sans-serif ;
}

form div input{
  font-family:aileron, sans-serif ;
  border-radius: none;
  font-size: 0,7rem;
}



@media screen and (min-width: 1200px) {
    .div-img-shop{
        justify-content: center;
                    display: grid;
                    grid-template-columns: repeat(3fr );
    }

      .img-shop{
     grid-area: "img";
           
         }
    
}

/*estilo riders*/

/*estilo nosotros*/
.p-nosotros{
    margin: 1rem;
    font-size: 1.5rem;
}
.img-nosotros{
    height: 60vh;
}
.collage-nosotros{
    margin: 1rem;
}

.p-nosotros{
  animation-name: ;
}

@keyframes animacion{
  0%{

  }
  25%{

  }
  50%{

  }
  100%{

  }
}