
* {
    margin: 0rem;
    padding: 0;
    box-sizing: border-box; }




footer{
    background-color: #bccfa3;
    padding: 3rem;
  }

  footer section p{
    text-align: center;
    color: #F8F7F6;
    margin: 1rem;

  }
  .div-titulos-footer{
    display: flex;
    justify-content: space-between;
  }
 .h-footer{
    color:#E4E1AA;
    font-size: 4rem;
    font-family: "chorine-large";
    font-weight: 500;
    font-style: normal;
  }
 footer section h5 {
    font-size: 2.5rem;
     color: #F8F7F6;
     font-family:arsenica-variable, sans-serif;
     
  }

  footer section h4{
    font-family: "chorine-large";
    font-weight: 500;
    font-style: normal;
    color: #E4E1AA;
    font-size: 3rem;
  }


  .png-footer{
    height: 10rem;
    text-align: right;
  }

    
  header {
    
    color:  #8DC6D1;
    display: flex;
    justify-content: space-between;
   
 
    
  }
  
  .logo {
    font-size: 3rem;
    font-family: "chorine-large";
    margin-left: 2rem;
    margin-top: 1rem;
    align-items: center;
  }

  .logo-pages{
    font-size: 3rem;
    font-family: "chorine-large";
    margin-left: 2rem;
   margin-bottom: 1rem;
    align-items: center;
  }
  
  .menu {
    list-style-type: none;
    margin-right: 1rem;
   margin-left: 1rem;
    display: flex;

    justify-content: space-around;
  }
  
  .menu li {
    margin-right: 1rem;
    font-family:arsenica-variable, sans-serif ;
  }

  .menu li :hover{
    text-decoration: underline;
    transform: scale(1.05);
    
  }
  
 
  
  .menu li a {
    color:  #8DC6D1;
    text-decoration: none;
    font-family:arsenica-variable, sans-serif ;
  }
  
  .menu-toggle {
    display: none; /* Ocultar el botón de menú en desktop */
  }

  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 1100px) {
    .menu {
      flex-direction: column; /* Cambiar la orientación del menú a vertical */
      display: none; /* Ocultar el menú en dispositivos móviles */
     
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
    }
    
    .menu-open {
      display: flex; /* Mostrar el menú al hacer clic en el botón de menú */
      position: absolute;
      flex-direction: column;
      background-color: #8DC6D1;
      padding: 2rem;
      right: 5px;
      top: 50px;
      font-size: 1.2rem;
      border-radius: 1rem;
      text-decoration: underline;
    }
    
    .menu-toggle {
      display: block; /* Mostrar el botón de menú en dispositivos móviles */
      cursor: pointer;
      color:#F8F7F6;
      font-size: 2.5rem;
      padding: 10px;
      justify-content: right;
    }
  }
  
  @media screen and (max-width: 1100px) {
    .header-pages .menu{
      flex-direction: column; /* Cambiar la orientación del menú a vertical */
      display: none; /* Ocultar el menú en dispositivos móviles */
     
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
    }
    .header-pages .menu-toggle{
      display: block; /* Mostrar el botón de menú en dispositivos móviles */
      cursor: pointer;
      color:#F8F7F6;
      font-size: 2.5rem;
      padding: 10px;
      justify-content: right;
    }

    .section-header{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
    }
    }
    
  

/* estilo index*/


.header-index{
  
    background-image: url(../fotos/back.jpeg) ;
    background-size: 100%;
   height: 12rem;
   
    display: flex;
    
}
    
        
 
 
    
     .header-index .nav-index{
       
      color: #8DC6D1;
      text-decoration: none;
      display: flex;
      gap: 1rem;
     margin-top: 2rem;
      list-style: none;
      margin-right:2rem;
     
    
      
     
      }

      .div-nav{
        display: flex;
        gap: 2rem;
        justify-items: flex-end;
        justify-content: space-around;
        margin-top: 1rem;
      }
      .header-index nav ul{
        list-style: none;
        text-align: right;
        justify-content: right;
        margin-top: 1rem;
      }

   
      .header-index nav li{
        text-align: right;
        margin-top: 1.2rem;
      
      }

      body .header-index nav a{
        text-decoration: none;
        color: black;
        font-family:arsenica-variable, sans-serif;
        text-decoration: bold;
        text-align: right;
        margin-top: 2rem;
        font-size: 1.4rem;

         }

         .boton-shop-index{
          border: none;
          background-color: #8DC6D1;
         }
        
.div-shop-index{
  display: flex;
  margin: 2rem;

}

         .a-shop-index{
          color: #8DC6D1;
          text-decoration: none;
          text-align: center;
          margin: 2rem;
          justify-content: center;
          font-family:arsenica-variable, sans-serif ;
          font-size: 2rem;

          
         }



        
      .main-index .caja-descuento{
        background-color: #8DC6D1;
        text-align: center;
        margin-bottom: 3rem;
        color:#F8F7F6;
        font-family:arsenica-variable, sans-serif  ;
        font-size: 1.3rem;
        }

       .main-index .cajas-secciones{
        align-items: center;
    text-align: center;
        justify-content: center;
        justify-items: center;
        display: block;
        margin-top: 3rem;
        margin-bottom: 3rem;
          }

          .cajas-secciones :hover{
            transform: scale(1.02);
            
          }

          .info-index .img-surf{
            width: 100%;
          }

      .info-index .img-lauti{
        display: none;
      }    
      .info-index {
        text-align: center;
        font-family: arsenica-variable, sans-serif;
        
      }
      .info-index .p-1{
        margin: 2rem;
      }

      .p-1 :animate__fadeIn

      .info-index div .p-2{
        margin-top: 2rem;
        text-align: center;
      }
      .div-button{
        display: flex;
        text-align: center;
        justify-content: center;
      }
       div .button-index{
        background-color: #8DC6D1;
        border: none;
        padding: 0.5rem;
        
        margin-bottom: 3rem;
        font-size: 1.5rem;
        border-radius: 1rem;
       
        color: #E4E1AA;
        font-family:arsenica-variable, sans-serif ;
       

      }
       .button-index a{
        text-decoration: none;
        color: #E4E1AA;
        margin-top: 1rem;

      }

    

      .a-suscribite :hover {
        transform: scale(1.05);
      }

      .img-contacto{
        height: 3.2rem;
       margin: 0.7rem;

      }
      .rollover :hover{
        text-decoration: underline;
        transform: scale(1.05);
        
        
      }

      @media screen and (min-width: 1100px) {
        .header-movil{
          display: none;
        }
        .header-index{
  
        width: 100%;
           height: 36rem;
           
            
        }

        body .header-index nav li{
         gap: 4rem;
  
           }

        .section-header {
          width: 100%;
          font-size: 1.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 2rem;
          
        }

        section .secciones-index{
            display: grid;
        }
       .main-index .cajas-secciones{
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
         }
      
        
        .info-index{
            display: flex;
            align-items: center;
        }
        .info-index .img-surf{
            height: 34rem;
            
            margin-top: 3rem;
            justify-content: flex-start;
            
            
            
        }
        .info-index .p-1{
            text-align: center;
            margin: 6rem;
            align-items: center;
            font-size: 1.3rem;
        }
        .info-index .p-2{
            text-align: center;
            margin: 6rem;
            align-items: center;
            font-size: 1.3rem;
        }
       

        .info-index .img-lauti{
            display: flex;
            height: 29.7rem;
            margin-bottom: 5rem;
          
          
          } 
          .h1-index{
            margin-left: 4rem;
          }
          .nav-index{
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
          .div-nav{
           
            margin-right: 3rem;
          }
        }
  
/* estilo shop*/



.header-pages{
    background-color: #8DC6D1;
    color: #F8F7F6;

}




.header-pages ul{
    list-style: none;
    justify-content: end;
    display: flex;
    
}
.header-pages nav a {
    text-decoration: none;
    color: #F8F7F6;
    font-family: arsenica-variable, sans-serif;
    text-decoration: bold;
    display: flex;
    justify-content: right;
     }

h2{
font-family:arsenica-variable, sans-serif ;
font-size: 2rem;
text-align: center;
margin: 2rem;
color: #8DC6D1;
}

.img-shop{
    height: 60vh;
    
 
}

.div-img-shop{
    align-items: center;
    text-align: center;
        justify-content: center;
        justify-items: center;
        display: block;
        margin-top: 3rem;
        margin-bottom: 3rem;
   
}
.div-img-shop p{
    text-align: center;
    text-decoration: underline;
}

form{
    text-align: center;
    font-size: larger;
    background-color: #8DC6D1;
    padding: 2rem;
    margin-bottom: 2rem;
}

form h3{
  color: #F8F7F6;
  font-family: arsenica-variable, sans-serif ;
  font-size: 2rem;

}

form div label{
  color: #F8F7F6;
  font-size: 1.2rem;
  font-family: arsenica-variable, sans-serif ;
}

form div input{
  font-family:aileron, sans-serif ;
  border-radius: none;
  font-size: 0,7rem;
}



@media screen and (min-width: 1100px) {
    .div-shop{
        justify-content: center;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
    }

      .img-shop{
     grid-area: "img";
           
         }
    
}

/*estilo riders*/

.div-riders{
  display: none;
}
.riders-mobil{
  text-align: center;
  font-family: arsenica-variable, sans-serif;
  margin-bottom: 4rem;

}

.img-rider-mobil{
  border-radius: 60rem;
  height: 18rem;

margin-top: 2rem;
 
}

@media screen and (min-width: 1100px){
  .div-riders{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin-top: 8rem;
    margin-bottom: 2rem;
  
  
  }

  .riders-mobil{
    display: none;
  }

  .img-riders-mobil{
    display: none;
  }
}

  
/*estilo nosotros*/
main section h2{
  font-family:arsenica-variable, sans-serif ;
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
  color: #8DC6D1;
  }
.p-nosotros{
    margin-bottom: 4rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-family: arsenica-variable, sans-serif;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    color: #bccfa3;
    
    
    
}
.img-nosotros{
    height: 32rem;
    margin: 1rem;
    justify-content: center;
}


.boton-registro{
  font-family: arsenica-variable, sans-serif;
  color: #8DC6D1;
  background-color: #F8F7F6;
  border: #F8F7F6;
  border-radius: 1rem;
  padding: 0.7rem;
  margin: 1rem;
}



 



